{% extends "base.html" %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
        <div class="mensagem">
            {{ msg }}
        </div>
        {% endfor %}
    {% endif %}
    
    <section class="pagina">
        <a href="/inventario/add">+ Adicionar</a>
    </section>

    <table>
        <tr>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Localização</th>
            <th>Edita</th>
            <th>Remove</th>
        </tr>
        {% for inventario in dados %}
        <tr>
            <td>{{inventario.nome}}</td>
            <td>{{inventario.quantidade}}</td>
            <td>{{inventario.localizacao}}</td>
            <td>
                <a href="/inventario/edita/{{inventario.id}}">Editar</a>
            </td>
            <td>
                <a href="/inventario/remove/{{inventario.id}}">Remover</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}