{% extends "base.html" %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
        <div class="mensagem">
            {{ msg }}
        </div>
        {% endfor %}
    {% endif %}
    <form action="/inventario/save" method="post">
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome">
        <label for="quantidade">Quantidade: </label>
        <input type="number" name="quantidade" id="quantidade">
        <label for="localizacao">Localização: </label>
        <input type="text" name="localizacao" id="localizacao">
        <section class="botao">
            <button class="bt" type="submit">Salvar</button>
        </section>
    </form>

{% endblock %}